[2017-07-27 17:16] greenkeeper[bot] opened #1 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-07-27 17:33] bkeepers opened #2 "Run `npm install` as part of creating the plugin"
h/t @jasonetco

[2017-07-27 17:36] bkeepers opened #3 "Always use the latest version of probot"
It currently uses https://github.com/probot/plugin-template/blob/master/package.json. We either need to figure out how to automate keeping that up to date (greenkeeper @gr2m?) , or figure out another way to install the latest version when generating a new plugin

h/t @hiimbex

[2017-07-27 17:40] JasonEtco commented on #3
If we go the automation route, we can fetch the latest semver from the registry then plunk that into the `package.json`. It won't be `@latest` but it will be the "most recent version"

[2017-07-27 17:46] gr2m commented on #3
you only need to update it when the new `probot` version published to npm is out of range of what is defined in https://github.com/probot/plugin-template/blob/master/package.json. A simple way to do that is to activate greenkeeper. You also want to release new versions of `create-probot-plugin` automatically when the `probot` dependency changes, we can use [semantic-release](https://github.com/sem

[2017-07-31 15:04] #2 closed

[2017-08-11 22:37] anglinb opened #5 "Installation fails due to permission denied error"
👋 I ran into an error using the `create-probot-plugin` cli interface. I've included details below--I haven't take the time to try and track down to root cause but running as `root` fixes the issue. 🙃

**Steps to reproduce:**
1. `npm install -g create-probot-plugin`
2. `create-probot-plugin express-example`

**Error Traceback**

[code]

[2017-08-12 13:31] bkeepers commented on #5
@anglinb weird, looks like permissions are wrong on something in `/Users/brian/.cache/` (maybe from running something with `sudo` in the past, which would have created this directory with the wrong permissions?). You might want to try just renaming that directory and running it again.

[2017-08-13 02:05] anglinb commented on #5
Hmm good thought 🤔 `/Users/brian/.cache` was owned by root and I changed it to my user that seemed to fix it. Thanks for the help--I'm sure I installed something as root once and that changed it. 🙃

[2017-08-13 02:05] #5 closed

[2017-09-01 03:40] #1 closed

[2017-09-11 20:44] hiimbex commented on #3
I'm 👍 for adding greenkeeper here since we got it figured out on the other probot repos. Especially since we should prioritize keeping the version of probot in this repo up to date.

[2017-09-11 20:44] JasonEtco commented on #3
Woops, not sure why my PR closed this. Sorry folks!

[2017-09-11 20:46] hiimbex commented on #3
it was the `resolve` keyword. I noticed and figured it was on accident :slightly_smiling_face:

[2017-09-11 20:47] JasonEtco commented on #3
It's supposed to underline keywords like that 😑

[2017-09-11 20:49] gr2m commented on #3
note that if `package-lock.json` exists, you currently need to setup a workaround for Greenkeeper to work, it will tell you on the initial PR, too: https://github.com/greenkeeperio/greenkeeper-lockfile#npm

[2017-09-12 00:08] bkeepers commented on #3
I don't know if greenkeeper will work since the [package.json has placeholders](https://github.com/probot/template/blob/master/package.json) that NPM thinks are invalid.

[2017-09-12 00:37] gr2m commented on #3
oh yeah that won’t work, Greenkeeper is only looking for a package.json file in the root folder, sorry. I think there is an open issue for this on Greenkeeper, but for now we have to build a custom solution for it. It shouldn’t be too hard:tm:, here is an example of little node app that receives hooks from npm for a specific package and sends a message about it to slack: https://glitch.com/edit/#!

[2017-09-28 01:11] JasonEtco opened #8 "Change "Package name" in prompts"
Now that we've more-or-less ironed out the wording around creating Apps (not plugins or packages), I'd like to tighten up the wording here. Currently, the first question `create-probot-app` asks the user is "Package name." This should probably say something like "What is the name of your App?" or "What is your App called?"

Relevant code:
https://github.com/probot/create-probot-app/blob/ff4d722c90

[2017-09-28 01:24] rwaskiewicz commented on #8
@JasonEtco Mind if I give this a shot?

[2017-09-28 01:25] JasonEtco commented on #8
@rwaskiewicz not at all, go for it!

[2017-09-28 01:56] lucianolucianoluciano commented on #8
#9

[2017-09-28 02:50] rwaskiewicz commented on #8
Create #10 for this issue.  I hadn't realized @lucianolucianoluciano had submitted a PR for it as well.  Feel free to cherry pick from what I've got there or just close it out as a duplicate if needed 🙂

[2017-09-28 04:25] JasonEtco commented on #8
@lucianolucianoluciano - thank you for submitting that #9! Because @rwaskiewicz had already mentioned that he'd be jumping on this issue, I'll close out your PR. Sorry!

@rwaskiewicz - Awesome! I've left a comment on your PR, but other than the one tiny thing it looks great.

[2017-09-28 13:14] JasonEtco commented on #8
Closed by #10 🎉

[2017-09-28 13:14] #8 closed

[2017-09-29 18:58] bkeepers opened #11 "Update documentation for new UI"
https://github.com/probot/create-probot-app/pull/10 made some nice improvements to the questions asked when creating a new app, however, the documentation on https://probot.github.io/docs/development/#generating-a-new-app still shows the output from the old app.

It'd be great to update the docs on the website to show the output of the command now.

cc @JasonEtco

[2017-09-29 19:07] adsrc commented on #11
@bkeepers I would like to work on this. Please assign this to me.

[2017-09-29 19:55] bkeepers commented on #11
@adsrc We're glad you're eager to contribute! The best way to do this is just to open a pull request with the fix. Let us know if you have any questions or run into problems fixing it.

[2017-09-30 08:21] adsrc commented on #11
@bkeepers I'm on it!

[2017-10-03 19:56] JasonEtco commented on #11
Closed by https://github.com/probot/probot/pull/275 🎉

[2017-10-03 19:56] #11 closed

[2017-10-31 09:34] ocombe opened #15 "Probot dependency in generated package.json"
The Probot dependency in the generated package.json is: `"probot": "^2.0.0"` but yarn will install 2.0.0 instead of 3.0.0 (which is the latest version right now).
You should either use `>=2.0.0` or update it to `^3.0.0`.

[2017-10-31 09:36] ocombe opened #16 "Installing node modules failed"
I got this error on Windows after using create-probot-app to create my app:
[code]

The complete npm log is:
[code]

Apparently using `--prefix` doesn't work well with npm 5+. Or maybe it's a Windows issue.
Either way I'd recommend just using "cd" into the newly created repository and then doing `npm install`.

[2017-10-31 13:03] #15 closed

[2017-10-31 13:19] bkeepers commented on #16
Thanks for reporting the issue. We'll look at updating the app to cd into the directory first.

Would you mind reporting your issues with `--prefix` to the npm team?

[2017-11-09 19:44] geoffdavis92 opened #17 "Add Yarn install example"
It would be great to have a Yarn installation example in the README as well, something like:

I'll introduce a PR (#18) with the changes.

[2018-02-03 20:45] bkeepers opened #19 "Run `yarn install` if called with `yarn create`"
`$ yarn crate probot-app foobar` can be used to install and run this generator. However, this package will still invoke `npm install` after generating the package. It'd be nice if it detected if it was invoked with yarn and instead ran `yarn install`.

[2018-03-10 14:33] bkeepers commented on #17
Fixed in  probot/probot#417

[2018-03-10 14:33] #17 closed

[2018-03-12 13:41] jbjonesjr opened #21 "Create probot app assumes a new folder of the **app-name**"
When running `npx create-probot-app`, it uses the app name provided to create a sub-folder and store all app information within it. Since my usecase is to create my git repo first, I already have a folder/repository created, and would prefer to just output the contents to `.`.

This would be a good additional option to add.

[2018-03-12 13:49] jbjonesjr opened #22 "Descriptions are not auto-populated into template"
The template files contained within https://github.com/probot/template expect the **description** information to be contained in `description`, ie:

[code]
https://github.com/probot/template/blob/011af1fe2095ea3eeec84553c7d4781378b59540/package.json#L1-L5

while the create script stores it under the variable `desc` , ie:
https://github.com/probot/create-probot-app/blob/aefa4b695a80c28be7d53cef468e

[2018-03-14 23:06] bkeepers commented on #22
Good catch. I think that should be updated here.

[2018-03-14 23:07] bkeepers commented on #21
👍 I agree this is a use case that should be supported

[2018-04-11 15:49] #22 closed

[2018-05-21 01:52] #21 closed

[2018-06-11 02:18] #19 closed

[2018-06-11 02:18] #16 closed

[2018-06-14 19:06] gr2m commented on #3
This is no longer the case:
https://blog.greenkeeper.io/announcing-greenkeeper-3-1504f5113998

I’ve yet to look into the exact setup, but I think it should be possible now

[2018-06-21 17:32] bkeepers opened #27 "Add option for typescript template"
It'd be great if `create-probot-app` had an option for creating a new app in TypeScript

[2018-06-28 19:20] nesl247 commented on #19
Yes, this is still relevant.

[2018-06-29 21:09] #27 closed

[2018-08-06 20:03] stefanbuck opened #33 "Example app isn't working"
Hi,

I wanted to create my second probot app with this generator. I followed [this](https://probot.github.io/docs/development/#generating-a-new-app) steps. For testing purposes I enabled all permissions as you suggested. I made all required changes to `.env` and link my a test repo with my app.

After running `npm run dev` I see the following request an all respond with a 20x status.
- GET /app/in

[2018-08-06 20:06] hiimbex commented on #33
Looks like a duplicate of https://github.com/probot/probot/issues/607 and https://github.com/probot/probot/issues/568

Can you double check that your Webhook Secret is set on your GitHub App settings, and in your local `.env`

[2018-08-06 20:13] stefanbuck commented on #33
Indeed, looks related to the mentioned issues. Sorry, I didn't think about searching for the issue there. I was conficed that it's a `generator` issue.

I changed my webhook secret right after setting up the app and updated the `.env` as well. This shouldn't effect my certificate I guess, right?

[2018-08-29 17:44] hiimbex opened #34 "Difficult to extend for use case templates"
Re https://github.com/probot/probot/issues/620 and https://github.com/probot/template/pull/79 we want to extend create-probot-app to work for multiple use cases in the same repo. The current library we [use](https://github.com/probot/create-probot-app/blob/032d479e1b33a6874d491e098ae4a020f4620c3a/bin/create-probot-app.js#L131-L133) for that is [egad's scaffold](https://github.com/boneskull/egad) w

[2018-08-29 20:31] bkeepers commented on #34
For posterity, @hiimbex and I talked through a couple alternatives:

1. Move the templates into this repository and distribute them with the `create-probot-app` package. This will require copying over the templating features form egad, but it's not that much code.
2. Update egad or something similar to support subdirectories. it might still require cloning the entire repo (or downloading the zip f

[2018-09-04 20:59] borNfreee opened #35 "Add watch mode to immediately rebuild Typescript app on file change"
Add watch mode to immediately rebuild Typescript app on file change.

Currently, to update the final `./lib/index.js`, I need to

* `npm run build`
* `npm run dev`

[2018-09-12 23:36] gr2m commented on #3
Do you still want me to look into it?

[2018-10-25 23:02] yeskunall opened #39 "README instructions seem incorrect"
I did `npm init probot-app [--typescript] test` and expected it to create a folder called `test`. Instead, after I filled in all the choices (where once again I provided `test` as the app name, I got this:

![image](https://user-images.githubusercontent.com/14703164/47535155-4fc0fe00-d888-11e8-9681-c9ef3714b4f7.png)

... a folder called [--typecsript]. 😅

For now just reporting this; I might take

[2018-10-25 23:30] yeskunall commented on #39
![](https://media.giphy.com/media/Q7aMDI2jO37vW/giphy.gif)

... I think I just had a brain fart. I really appreciate you explaining it so nicely to me tho! I don't know what happened, but I just blindly copied the command, and expected it to work. I think it's partially because I'm used to doing that, because they just work out of the box.

And yes, I'm still glad I made this issue, because I feel

[2018-10-25 23:36] dmlittle commented on #39
As for the user experience, if the script detects that `[--typescript]` was input as the directory name, it could warn saying something along the lines of

[2018-10-31 02:38] C-Saunders opened #40 "--typescript option specified in docs is no longer valid"
It looks like the `--typescript` option was removed in b203255293b7807a4fde245523cc275ca3e67539, but it wasn't removed from [the docs](https://probot.github.io/docs/development/#generating-a-new-app).

Does it make more sense to
* Re-add this option (likely mapping it to `--template=basic-ts` from what I can see)
* Remove `[--typescript]` from the docs
* Update the to reflect the current state of

[2018-10-31 02:43] hiimbex commented on #39
This option has been entirely deprecated and replace with a (hopefully) better script experience!!

[2018-10-31 02:43] #39 closed

[2018-10-31 02:48] hiimbex commented on #40
Yea @TimonVS kindly opened https://github.com/probot/probot/pull/752 to solve this :)

[2018-11-14 11:23] koddsson opened #42 "`.gitignore` is not created"
Hey hey 👋

I was trying to create a `basic-ts` robawt just now and when I was gonna make the inital git commit it included the `node_modules/` folder. It seems like the `.gitignore` file is not created when using `create-probot-app`. Not sure about other templates then `basic-ts` though.

Here's the output with the `npm install` output omitted:

[code]

[2018-11-20 04:52] hiimbex commented on #40
This should be up-to-date on the docs website now!

[2018-11-20 04:52] #40 closed

[2018-11-20 04:52] hiimbex commented on #42
Totally agree!

[2018-11-20 04:59] hiimbex commented on #42
Just a guess, when we call [`generate`](https://github.com/probot/create-probot-app/blob/master/bin/create-probot-app.js#L142) something goes wrong in here: https://github.com/probot/create-probot-app/blob/master/bin/create-probot-app.js#L142, but not sure quite where.

The file does exist [here](https://github.com/probot/create-probot-app/blob/master/templates/basic-ts/.gitignore), so it's just n

[2018-12-29 16:44] #34 closed

[2018-12-29 19:46] kentaro-m commented on #35
Add `nodemon.json` to rebuild ts files in src dir every time files change.

[code]

[2019-01-04 20:37] aegershman opened #48 "Description of probot app types?"
There are different probot template options, but I can't find any description of the differences of these templates. What's the difference between `basic-js` and `check-js` and `deploy-js`, etc.? They are not documented here, nor do they seem to be documented on the probot doc site. Is there a place where the probot templates are described? Thanks a ton.

[2019-01-14 19:17] andrewlock opened #49 "App appears to hang after generating the files with Node 10.12.0"
Just thought I'd give the app a try, but it appears to hang creating the files. I've tried with two different templates (`basic-js`, `basic-ts`), from powershell and cmd window, and I've tried passing in the template using the `--template` parameter. In all cases, it never writes `created files...`, and seems to hang indefinitely. It never runs an `npm install` as far as I can tell.

I'm on Window

[2019-01-14 19:37] RandellDawson commented on #49
I have been trying to get `npx create-probot-app` working for about 3 days solid now.  I am on Windows 8.1 and finally figured out that you must have Python 2.7 (not 3+) and do not used Node 10+, because it will not work (the hang you mention).  I create a new directory first and just run `npx create-probot-app` inside the new directory.  I ran all of this on PowerShell because Git Bash was not wo

[2019-01-15 03:24] RandellDawson opened #50 "What causes DEBUG github: GitHub request: GET /app/installations - 401 undefined (installation=undefined)?"
When using `npm run dev` or `npm start` I get the following.  What are the typical reasons why I would get this?
[code]
It works fine on someone else' machine (Mac).  Is this a Windows specific issue?

[2019-01-23 16:00] ogmag commented on #50
Great

[2019-02-07 06:36] #3 closed

[2019-02-15 18:14] JasonEtco opened #54 "Add JSDoc header to basic-js template"
This:

[code]

Is missing here:

https://github.com/probot/create-probot-app/blob/f9cbf8a7ce8b147bc7b02f6833457d1d808b1da7/templates/basic-js/index.js#L1-L5

So we don't get that sweet sweet autocomplete by default!

[2019-02-15 18:21] tcbyrd commented on #54
Yeh I went back and forth on this. On the one hand it's nice for autocomplete, but if you're just a JS user it _might_ be confusing to see a comment at the top that you aren't sure what it does? Maybe we could also document why it's there, though 🤔

[2019-02-15 18:25] JasonEtco commented on #54
Totally reasonable. Commenting about a comment seems... weird; but I'm not opposed 🤷‍♂️ I do think the benefit of having it outweighs the confusion.

[2019-02-16 06:41] prakashujjwal1010 opened #55 "[help wanted] error while installing node dependencies in create-probot-app"
it is showing error while installing node dependencies in create-probot-app.
`npm ERR! code ENOLOCAL
npm ERR! Could not install from "" as it does not contain a package.json file.`
so, when i cd to project directory and try `npm install` , still i am getting error.
`npm ERR! Unexpected end of JSON input while parsing near '...:"7.0.0-alpha.18","ba'`.

[2019-02-19 22:21] #54 closed

[2019-03-04 01:13] karol-majewski opened #58 "Installed dependencies are out of date"
When creating a `basic-ts` application, the following warnings are displayed:

[code]

[2019-03-17 20:45] gr2m opened #60 "Run tests of all templates"
This repository would be much easier to maintain if we had a setup which would run all tests of all templates. We would love help with this!

[2019-03-17 21:06] gr2m commented on #60
Maybe the test could be a base script which

1. `cd`s into each template folder
2. Set a valid name in `package.json` using the [package-write](https://github.com/MauriceButler/package-write) module, e.g. `npx package-write name test`
3. run `npm ci && npm test`

[2019-03-17 21:14] hiimbex commented on #60
https://github.com/probot/create-probot-app/blob/master/script/test ?

[2019-03-17 21:24] gr2m commented on #60
🤦‍♂️ I was looking for a test script in package.json and totally missed that this already exists! Thansk!

[2019-03-18 07:24] Stevefb commented on #55
@prakashujjwal1010  - I'm having the same problem, did you get this figured out at all?

As far as I can tell the file `package.json` is being added (or looked for) in the wrong place.  I get the same problem whether I use the npx or yarn command.

Would be great if someone could verify this... _(package in wrong place)_

created file:
`C:\Users\steve\Documents\GitHub\ProBot\myAppName\package.json

[2019-03-20 06:07] #42 closed

[2019-04-05 02:04] #48 closed

[2019-04-16 08:17] andrewlock commented on #49
This is still relevant, it's a poor experience using on Windows.

[2019-04-28 20:35] #35 closed

[2019-05-11 06:02] phanirithvij opened #65 "A lot of junk files getting generated on create-probot-app"
Issue:
A lot of files are getting generated in the working directory instead of under the `node_modules` when using `create-probot-app` with typescript `basic-ts` support.

They all are `cmd` and `sh` files used by node js under the hood when running npm scripts like `npm start` or `npm run build`.

OS: Windows 10

My `./` directory where I ran `create-probot-app` before and after.

Before:
[code]

[2019-05-11 06:06] phanirithvij commented on #65
And an example cmd and sh files
`acorn`
[code]
`acorn.cmd`

[code]

[2019-05-23 17:05] #50 closed

[2019-06-05 22:18] Sam-the-Unwise commented on #16
This same error happened to me today

[2019-06-16 17:04] #60 closed

[2019-06-19 01:28] Ninjas-in-Pajamas commented on #55
I am getting the same error, except mine is telling me

npm ERR! code ENOLOCAL
npm ERR! Could not install from "" as it does not contain a package.json file

[2019-06-19 09:21] lucasmichot opened #69 "Missing .gitignore file"
Hello Probot team;
I've noticed that when generating a bot from a template, the `.gitignore` file is never copied.
Which means that it always has to be added manually after

This is also related to https://github.com/probot/create-probot-app/issues/42

[2019-06-19 09:23] lucasmichot commented on #42
This issue still persists and has been reported again in https://github.com/probot/create-probot-app/issues/69

[2019-07-01 07:00] jeffslofish commented on #69
I looked into this issue and it appears that the packages on npm do not contain the .gitignore files in the templates/* folders.

To verify this, I created a new package with create-probot-app as a dependency at version 3.1.0 (or any 3.x.x version). Then `npm install` and check the `node_modules/create-probot-app/templates/*` folders and note that there is not any .gitignore files.

However, if cr

[2019-07-02 02:07] #58 closed

[2019-07-30 09:18] Jensenks commented on #58
This is still relevant 😴

[2019-08-15 06:27] #49 closed

[2019-08-22 09:28] phanirithvij commented on #65
This is still relevant.

[2019-09-03 00:34] kevinkassimo opened #74 "Invalid package.json when including quotation marks in author's full name"
For example, with name `Kevin "Kassimo" Qian`, I am getting
[code]
in generated `package.json`, the quotation marks are not escaped, resulting in a failed npm install. This happens when the author has e.g. a nickname to include.

[2019-09-05 21:59] singsai opened #76 "create-probot-app installs probot ^7.2.0"
I've tested this out with both basic and checks:

`npx create-probot-app` creates a probot where its `package.json` specifies version `^7.2.0`

I noticed the problem because my target repo wasn't reading my `.github` repo's `.github/config.yml` file. Once I updated the version to `9.3.3`, it worked fine.

I've gone through the create-probot-app repo to see if I can find the problem, but the templa

[2019-09-10 16:35] MaximDevoir commented on #65
It appears Windows is not able to handle `prefix` very well. This appears to be a problem with npm, according to this [old issue](npm/npm#20245).

PR #77 	fixes this issue.

[2019-09-10 16:39] MaximDevoir commented on #76
The version for `probot` in all templates is `^9.0.1` on the `master` branch. However, the latest release - [3.1.0](b516e3c0e84dda2d490d17076f6ac988c13132a8) - is using older dependencies.

A new release needs to be deployed.

[2019-09-10 18:36] MaximDevoir commented on #74
PR #78 will fix this issue by escaping double-quotes.

[2019-09-11 01:56] phanirithvij commented on #65
This is the issue right? https://github.com/npm/npm/issues/20245

[2019-09-11 03:09] MaximDevoir commented on #65
Maybe. NPM has [little](https://docs.npmjs.com/files/folders) documentation on the `prefix` option. Are they trying to steer people away from that option by removing documentation for it?

I also found [this](https://stackoverflow.com/questions/14469515/how-to-npm-install-to-a-specified-directory). Some people noted that `--prefix` could only be used if it was also alongside the `--global` option;

[2019-09-18 16:55] AlFalahTaieb opened #82 "How to Stop Probot from responding"
So I just managed to make it work, the problem is as soon as i comment on an issue the bot enter in an infinite loop and respond every second.

How to avoid this ?

[code]
}

[2019-09-18 17:18] AlFalahTaieb commented on #82
Found it ..

God i'm dumb

just added :

in the app.on

[2019-09-18 17:18] #82 closed

[2019-10-10 19:36] MaximDevoir opened #83 "TODO | Feature List"
## TODOs

Progress is being maintained at #86

[2019-10-15 17:20] ericis opened #85 "`basic-ts` missing package.json"
No `package.json` file is created when selecting `basic-ts` from the template list.

[code]

## Platform

* **OS:** Windows 10 Pro
* DOS or Git Bash terminal

[2019-10-15 17:25] ericis commented on #85
It looks like `basic-js` creates `package.json` properly, but the cli doesn't properly switch to the newly created directory to find it either. So, the other templates seem to break too. I haven't tested them all to see if they create a `package.json`

[2019-10-15 18:06] MaximDevoir commented on #85
Thanks for reporting this issue.

It appears that the program fails while trying to install Node modules.

Your logs show that `pacakge.json` file is being created. Can you verify that `package.json` is not being created?

[2019-10-16 00:19] MaximDevoir commented on #55
This issue is similar to #85

It appears that the program fails while trying to install Node modules.

This issue should be solved with #80 and #86 . In the meantime, `cd` into the generated app and manually `npm install`. We'll roll out a fix for this soon.

[2019-10-16 15:04] ericis commented on #85
Yes, @MaximDevoir #80 should fix it. I'll close this as an indirect duplicate.

[2019-10-16 15:04] #85 closed

[2019-10-30 21:45] #69 closed

[2019-10-30 21:50] #65 closed

[2019-10-30 21:55] #74 closed

[2019-10-30 22:15] gr2m commented on #76
I've published 3.1.1

[2019-10-30 22:15] #76 closed

[2019-10-30 22:15] gr2m commented on #55
@prakashujjwal1010 could you try again please?

[2019-11-10 19:30] #83 closed

[2019-11-10 19:41] #55 closed

[2019-11-10 23:20] gr2m opened #91 "CI is failing"
https://travis-ci.org/probot/create-probot-app/builds/610048199?utm_source=github_status&utm_medium=notification

[2019-11-11 02:58] MaximDevoir commented on #91
I'm unable to reproduce this locally on Ubuntu 18.04 (uh oh - gonna have to pull out ol' Docker), but this appears to be caused by the `semantic-release` dependency installing npm. Once `semantic-release` was removed and the lock-file was updated, the error went away.

I'l take a closer look at  this so we can keep `semantic-release` as a devDependency.

[2019-11-11 03:32] greenkeeper[bot] opened #94 "An in-range update of ts-node is breaking the build 🚨"
## The devDependency [ts-node](https://github.com/TypeStrong/ts-node) was updated from `8.4.1` to `8.5.0`.

🚨 [View failing branch](https://github.com/probot/create-probot-app/compare/master...probot:greenkeeper%2Fts-node-8.5.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ts-node is a devDependency of this project. It

[2019-11-11 04:36] gr2m commented on #91
Okay thanks! I wonder what the problem with `semantic-release` could be, I use it a lot in other actions. Worst case we can just run `npx semantic-release` without installing it as devDependency, or uninstall it before installing the dependencies for the tests

[2019-11-11 19:01] greenkeeper[bot] opened #95 "An in-range update of @typescript-eslint/parser is breaking the build 🚨"
## The devDependency [@typescript-eslint/parser](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.6.1` to `2.7.0`.

🚨 [View failing branch](https://github.com/probot/create-probot-app/compare/master...probot:greenkeeper%2Fdefault%2F%40typescript-eslint%2Fparser-2.7.0).

This version is **covered** by your **current version range** and after updating it in your project **

[2019-11-11 19:09] greenkeeper[bot] opened #96 "An in-range update of @typescript-eslint/eslint-plugin is breaking the build 🚨"
## The devDependency [@typescript-eslint/eslint-plugin](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.6.1` to `2.7.0`.

🚨 [View failing branch](https://github.com/probot/create-probot-app/compare/master...probot:greenkeeper%2F%40typescript-eslint%2Feslint-plugin-2.7.0).

This version is **covered** by your **current version range** and after updating it in your projec

[2019-11-12 21:11] greenkeeper[bot] opened #98 "An in-range update of @types/jest is breaking the build 🚨"
## The devDependency [@types/jest](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `24.0.22` to `24.0.23`.

🚨 [View failing branch](https://github.com/probot/create-probot-app/compare/master...probot:greenkeeper%2Fdefault%2F%40types%2Fjest-24.0.23).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@type

[2019-11-13 03:52] #91 closed

[2019-11-29 17:52] pawamoy opened #102 "Unicode support for interactive setup"
I got this error when trying to generate a new probot app:

[code]

Problem seems to be the `é` in my name, being written as `\xE9` in `package.json`.

[2019-11-30 01:21] MaximDevoir commented on #102
You're right, accented characters, and I imagine many other characters, are being wrongfully escaped.

This will be fixed with #103.

[2019-12-02 12:59] MaximDevoir opened #104 "Run audit of dependencies during CI"
Run an audit of dependencies from root package lockfile and all template lockfiles during CI pipeline.

Additionally, should Snyk be added to the repository? It’s free for open-source projects and can be easily integrated into the pipeline by adding the Snyk application from the GitHub marketplace.

Finally, I believe GitHub has a feature of warning repository owners of vulnerabilities as they bec

[2019-12-02 18:01] gr2m commented on #104
What does Snyk provide that GitHub's security vulnerability alerts don't provide yet?

And if you run the audit during CI, it would only log the warnings, unless you plan to push changes back to the repository?

We could run `npm audit fix` on a schedule and create a pull request if anything changes.

[2019-12-02 18:54] MaximDevoir commented on #104
I think using GitHub's [automated security update](https://help.github.com/en/github/managing-security-vulnerabilities/configuring-automated-security-updates#managing-automated-security-updates-for-your-repository) feature for the CPA repo is the way to go. My problem is I don't have access to the repository's [security alets](https://github.com/probot/create-probot-app/network/alerts), so I won't

[2019-12-02 19:31] #94 closed

[2019-12-02 19:31] #95 closed

[2019-12-02 19:31] #96 closed

[2019-12-02 19:31] #98 closed

[2019-12-02 22:51] gr2m commented on #104
I've added you to the list of people with access to security alerts:

<img width="740" alt="image" src="https://user-images.githubusercontent.com/39992/70001861-40909300-1513-11ea-8c43-6286ef460c4f.png">

I never used that before, but I think it does what we want :)

[2019-12-05 07:27] MaximDevoir commented on #104
I don't appear to be added. The Alerts tab is not available to me. It should be visible, even if there are no active alerts.

![Screenshot from 2019-12-04 23-25-36](https://user-images.githubusercontent.com/10104630/70213096-683b5300-16ed-11ea-9c64-282d3d99d5bf.png)

[2019-12-05 18:42] gr2m commented on #104
That's super odd, you were no longer added. I've added you again, can you check if you see it now?

[2019-12-05 18:53] MaximDevoir commented on #104
Yup, I see it now. :smiley:

[2019-12-06 04:24] #102 closed

[2019-12-07 01:52] hawkins opened #106 "What version of Node is required?"
Hey! :wave: Absolutely love Probot, but I've recently found myself in an environment where I'm limited in what Node versions are available to me. I've found that using Node 10, I'm unable to run create-probot-app due to syntax errors from dependencies.

Is there a specific Node version I should be aiming to use? Or should this instead be a fight of pinning dependency versions down?

Here's the err

[2019-12-07 02:04] hawkins commented on #106
FWIW, I was able to run with Node 10 by:

- cloning this repo
- pinning `chalk` to `^2.0.0`
- `$ npm i`
- `$ npm run build`
- `$ sudo npm link`
- ` $ create-probot-app my-app` :heavy_check_mark:

[2019-12-07 15:50] #104 closed

[2019-12-07 16:00] MaximDevoir commented on #106
That's odd. Both Probot and Create Probot App support Node v8 and up.

What happens when you run `npx create-probot-app --version` or `npx create-probot-app -v`?

[2019-12-10 13:58] hawkins commented on #106
This may be different than what you expect since I had to clone the repo and make this change to package.json to get it installed:

[code]

...

[code]

[2019-12-10 16:46] MaximDevoir commented on #106
The only major breaking change in Chalk v3 is they dropped support for anything below Node.js 8. With v3, the syntax was updated to support Node v8 and up. If Node.js is unable to recognize the spread operator `...`, then the files are getting executed by an older version of Node.js (e.g. Node.js 6).

[2019-12-10 17:05] hawkins commented on #106
That's really interesting... yeah, I remember using spread plenty, but always in Babel settings so I wasn't sure if that was standard syntax yet or not. At this point, I think it's clear what someone who needs this to run on older Node versions needs to do (pin chalk and install), so I'm going to close this because it's evident there's nothing to be done. The rest must be something weird about my

[2019-12-10 17:05] #106 closed

[2019-12-23 18:56] greenkeeper[bot] opened #110 "An in-range update of @typescript-eslint/eslint-plugin is breaking the build 🚨"
## The devDependency [@typescript-eslint/eslint-plugin](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.12.0` to `2.13.0`.

🚨 [View failing branch](https://github.com/probot/create-probot-app/compare/master...probot:greenkeeper%2F%40typescript-eslint%2Feslint-plugin-2.13.0).

This version is **covered** by your **current version range** and after updating it in your pro

[2019-12-31 22:55] MaximDevoir commented on #110
The branch is failing because the lock file and package.json dependency versions are out-of-sync.

In other Greenkeeper dependency upgrade branches, Greenkeeper has updated the lock file. I'm not sure why Greenkeeper didn't update the lock file for the `@typescript-eslint/eslint-plugin` branch.

I've deleted the associated Greenkeeper branch and will close this issue in an attempt to *reset* Green

[2019-12-31 22:55] #110 closed

[2020-01-02 15:00] gr2m commented on #110
It's a problem with Greenkeeper that keeps happening. It is really annoying when that happens, but it doesn't too often

[2020-01-02 16:11] MaximDevoir commented on #110
Thanks for clearing that up. :smile:

[2020-01-22 20:43] caravinci opened #113 "CPA could handle if the app has already been registered"
Feature request / idea:
User flow: as a brand new Probot user, with some experience developing github apps, I've created/registered the app before starting the creation of the (Probot) app itself.

When starting the app for the first time (using npm run dev), the resulting page while fetching localhost:3000 offers a button to register the app.
Here, the user could be offered an alternate path to i

[2020-01-23 00:49] gr2m commented on #113
I'd add that the setup UI could allow to upload the *.pem file that was generated & downloaded from the app's settings.

I like the idea.

Alternative would be to adopt the create-probot-app wizzard to add instructions for existing apps, but I would prefer improving the setup uI

[2020-01-23 16:55] caravinci commented on #113
Not sure I have the bandwidth right now to open a PR myself, but may do later when more available, if nobody else has by then.

[2020-02-06 19:35] greenkeeper[bot] opened #117 "An in-range update of @types/jest is breaking the build 🚨"
## The devDependency [@types/jest](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `25.1.1` to `25.1.2`.

🚨 [View failing branch](https://github.com/probot/create-probot-app/compare/master...probot:greenkeeper%2Fdefault%2F%40types%2Fjest-25.1.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/j

[2020-02-10 18:38] greenkeeper[bot] opened #118 "An in-range update of @typescript-eslint/parser is breaking the build 🚨"
## The devDependency [@typescript-eslint/parser](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.19.0` to `2.19.1`.

🚨 [View failing branch](https://github.com/probot/create-probot-app/compare/master...probot:greenkeeper%2Fdefault%2F%40typescript-eslint%2Fparser-2.19.1).

This version is **covered** by your **current version range** and after updating it in your project

[2020-02-10 18:41] greenkeeper[bot] opened #119 "An in-range update of @typescript-eslint/eslint-plugin is breaking the build 🚨"
## The devDependency [@typescript-eslint/eslint-plugin](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.19.0` to `2.19.1`.

🚨 [View failing branch](https://github.com/probot/create-probot-app/compare/master...probot:greenkeeper%2F%40typescript-eslint%2Feslint-plugin-2.19.1).

This version is **covered** by your **current version range** and after updating it in your pro

[2020-02-17 17:05] #118 closed

[2020-02-17 17:07] #119 closed

[2020-02-17 17:08] #117 closed

[2020-02-29 06:10] greenkeeper[bot] opened #122 "An in-range update of inquirer is breaking the build 🚨"
## The dependency [inquirer](https://github.com/SBoudrias/Inquirer.js) was updated from `7.0.4` to `7.0.5`.

🚨 [View failing branch](https://github.com/probot/create-probot-app/compare/master...probot:greenkeeper%2Finquirer-7.0.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

inquirer is a direct dependency of this proj

[2020-03-02 18:39] greenkeeper[bot] opened #123 "An in-range update of @typescript-eslint/eslint-plugin is breaking the build 🚨"
## The devDependency [@typescript-eslint/eslint-plugin](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.21.0` to `2.22.0`.

🚨 [View failing branch](https://github.com/probot/create-probot-app/compare/master...probot:greenkeeper%2F%40typescript-eslint%2Feslint-plugin-2.22.0).

This version is **covered** by your **current version range** and after updating it in your pro

[2020-03-04 08:24] MaximDevoir commented on #113
I would love to see this too :smiley:. I think updating Probot's UI [setup wizard](https://github.com/probot/probot/blob/master/src/apps/setup.ts) is the way to go about this. @gr2m, would you mind transferring this issue to probot/probot?

[2020-03-04 09:03] #123 closed

[2020-04-08 15:21] jtratner opened #131 "create-probot-app typescript's `build:watch` not work because of noUnusedLocals"
## Bug Report

**Current Behavior**
On first run of the typescript template from create-probot-app, tsc will fail because of `noUnusedLocals` option being forced to `True`

[code]

**Expected behavior/code**
Expect it to run `build:watch` without error :)

**Environment**
- Probot version(s): [e.g. v6.0.0]
- Node/npm version: Node 12.6.0; npm 6.14.4
- OS: 10.13.6

**Possible Solution**
Set `noUnus

[2020-04-08 22:20] gr2m commented on #131
The `'Url' is declared but its value is never read` was likely caused by a bad `@octokit/types` release. Can you please make sure to update it to [v2.7.1](https://github.com/octokit/types.ts/releases/tag/v2.7.1)

[2020-04-10 01:30] jtratner commented on #131
Totally understand that - but doesn’t probot need to update its required
version too?

I didn’t think I could update a transitive dependency...

On Wed, Apr 8, 2020 at 15:21 Gregor Martynus <notifications@github.com>
wrote:

[2020-04-10 04:58] gr2m commented on #131
you need to update your lock file. The safest way is to delete `package-lock.json` and the `node_modules/` folder, then run `npm install` again

[2020-04-10 05:02] jtratner commented on #131
Okay I’ll try it!

To be clear this is from a totally fresh use of `npx create-probot-app`. I’ll wipe the environment entirely and see if it recurs.

[2020-04-10 19:47] jtratner commented on #131
okay yes relocking (or, in my case, wiping out and re-running `npx create-probot-app`) fixed the whole thing.  I'm just surprised because I swear I tried wiping it out and rerunning it on multiple separate days 😓

Thanks for the help and apologies if I wasted your time! ✌️

[2020-04-10 19:47] #131 closed

[2020-04-12 18:36] gr2m commented on #131
no apologies needed, probably just unlucky timing, and it was my bad `@octokit/types` that caused all this trouble in the first place :) Thanks for the update, glad it's working now!

[2020-04-26 16:50] greenkeeper[bot] opened #132 "An in-range update of @types/node is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `13.13.2` to `13.13.3`.

🚨 [View failing branch](https://github.com/probot/create-prob

[2020-05-11 18:37] greenkeeper[bot] opened #134 "An in-range update of @typescript-eslint/parser is breaking the build 🚨"
***
🚨 **Reminder!** Less than one month left to migrate your repositories over to Snyk before Greenkeeper says goodbye on June 3rd! 💜 🚚💨 💚

[Find out how to migrate to Snyk at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [@typescript-eslint/parser](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.31.0` to `2.32.0`.

🚨 [View failing branch](https://git

[2020-05-11 18:39] greenkeeper[bot] opened #135 "An in-range update of @typescript-eslint/eslint-plugin is breaking the build 🚨"
***
🚨 **Reminder!** Less than one month left to migrate your repositories over to Snyk before Greenkeeper says goodbye on June 3rd! 💜 🚚💨 💚

[Find out how to migrate to Snyk at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [@typescript-eslint/eslint-plugin](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.31.0` to `2.32.0`.

🚨 [View failing branch](http

[2020-05-13 06:10] SayakMukhopadhyay opened #137 "package-lock.json should not be added to gitignore"
According to the [official documentation](https://docs.npmjs.com/configuring-npm/package-lock-json.html) for `package-lock.json`, the file should be committed into the source control but all the templates are generated with the file in the `.gitignore`.

Is there any particular reason for it being added to the `.gitignore`. If not, maybe it should be removed.

[2020-05-13 16:40] lukepighetti opened #138 "Document the difference between each template"
[code]

There are no descriptions of the different templates and how to select the appropriate one. The names are also not clear as to what their purpose is. I don't see this in the documentation anywhere.

[2020-05-13 19:31] gr2m commented on #137
I think this has most likely legacy reasons, coming from a time when npm's lock file was more painful than helpful. I think we can remove it from the `.gitignore` files. Would you mind sending a PR?

[2020-05-13 19:32] gr2m commented on #138
I agree, it would be nice to add a short description to each template at that step. Thoughts @MaximDevoir?

[2020-05-14 06:27] SayakMukhopadhyay commented on #137
Sure, I will create a PR with the changes.

[2020-05-14 07:26] MaximDevoir commented on #138
I agree that's a great idea. Unfortunately, my time is limited during the ongoing COVID-19 pandemic and will unavailable until early June.

[2020-05-14 12:14] lukepighetti commented on #138
If someone can write 5 words about each one I'll make a PR.

[2020-05-14 20:39] #137 closed

[2020-05-14 20:45] gr2m commented on #138
I also don't know :D But maybe check out the respective index files and derive what they do from that

- basic-js: https://github.com/probot/create-probot-app/blob/master/templates/basic-js/index.js
- basic-ts: https://github.com/probot/create-probot-app/blob/master/templates/basic-ts/src/index.ts
- checks-js: https://github.com/probot/create-probot-app/blob/master/templates/checks-js/index.js
- d

[2020-05-15 00:49] lukepighetti commented on #138
Alright :D fair enough

[2020-05-15 04:45] greenkeeper[bot] opened #140 "An in-range update of @types/cross-spawn is breaking the build 🚨"
***
🚨 **Reminder!** Less than one month left to migrate your repositories over to Snyk before Greenkeeper says goodbye on June 3rd! 💜 🚚💨 💚

[Find out how to migrate to Snyk at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [@types/cross-spawn](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `6.0.1` to `6.0.2`.

🚨 [View failing branch](https://github.com/probo

[2020-05-15 13:26] greenkeeper[bot] opened #141 "An in-range update of @types/shelljs is breaking the build 🚨"
***
🚨 **Reminder!** Less than one month left to migrate your repositories over to Snyk before Greenkeeper says goodbye on June 3rd! 💜 🚚💨 💚

[Find out how to migrate to Snyk at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [@types/shelljs](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `0.8.7` to `0.8.8`.

🚨 [View failing branch](https://github.com/probot/cr

[2020-05-17 13:15] greenkeeper[bot] opened #144 "An in-range update of simple-git is breaking the build 🚨"
***
🚨 **Reminder!** Less than one month left to migrate your repositories over to Snyk before Greenkeeper says goodbye on June 3rd! 💜 🚚💨 💚

[Find out how to migrate to Snyk at greenkeeper.io](https://greenkeeper.io)
***
## The dependency [simple-git](https://github.com/steveukx/git-js) was updated from `2.4.0` to `2.5.0`.

🚨 [View failing branch](https://github.com/probot/create-probot-app/compare

[2020-05-17 21:21] greenkeeper[bot] opened #145 "An in-range update of tsc-watch is breaking the build 🚨"
***
🚨 **Reminder!** Less than one month left to migrate your repositories over to Snyk before Greenkeeper says goodbye on June 3rd! 💜 🚚💨 💚

[Find out how to migrate to Snyk at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [tsc-watch](https://github.com/gilamran/tsc-watch) was updated from `4.2.5` to `4.2.6`.

🚨 [View failing branch](https://github.com/probot/create-probot-app/co

[2020-05-24 20:24] greenkeeper[bot] opened #148 "An in-range update of semantic-release is breaking the build 🚨"
***
🚨 **Reminder!** Less than one month left to migrate your repositories over to Snyk before Greenkeeper says goodbye on June 3rd! 💜 🚚💨 💚

[Find out how to migrate to Snyk at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [semantic-release](https://github.com/semantic-release/semantic-release) was updated from `17.0.7` to `17.0.8`.

🚨 [View failing branch](https://github.com/pro

[2020-05-25 15:37] greenkeeper[bot] opened #149 "An in-range update of cross-spawn is breaking the build 🚨"
***
🚨 **Reminder!** Less than one month left to migrate your repositories over to Snyk before Greenkeeper says goodbye on June 3rd! 💜 🚚💨 💚

[Find out how to migrate to Snyk at greenkeeper.io](https://greenkeeper.io)
***
## The dependency [cross-spawn](https://github.com/moxystudio/node-cross-spawn) was updated from `7.0.2` to `7.0.3`.

🚨 [View failing branch](https://github.com/probot/create-probo

[2020-05-28 17:38] greenkeeper[bot] opened #150 "An in-range update of ts-node is breaking the build 🚨"
***
🚨 **Reminder!** Less than one month left to migrate your repositories over to Snyk before Greenkeeper says goodbye on June 3rd! 💜 🚚💨 💚

[Find out how to migrate to Snyk at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [ts-node](https://github.com/TypeStrong/ts-node) was updated from `8.10.1` to `8.10.2`.

🚨 [View failing branch](https://github.com/probot/create-probot-app/co

[2020-05-28 21:21] greenkeeper[bot] opened #151 "An in-range update of probot is breaking the build 🚨"
***
🚨 **Reminder!** Less than one month left to migrate your repositories over to Snyk before Greenkeeper says goodbye on June 3rd! 💜 🚚💨 💚

[Find out how to migrate to Snyk at greenkeeper.io](https://greenkeeper.io)
***
## The dependency [probot](https://github.com/probot/probot) was updated from `9.11.3` to `9.11.4`.

🚨 [View failing branch](https://github.com/probot/create-probot-app/compare/mas

[2020-06-30 18:41] gwestersf opened #153 "add dockerfile to repo"
Some integrators are looking for help on how to best run Probot in a public cloud environment. It may help them to have a sample dockerfile for doing this.

[2020-07-11 05:19] #122 closed

[2020-07-17 04:32] hadar-cpp-check opened #155 "Get pull request data out of the Check_suite event"
Hi, how can I get the pull request number that caused the check_suite to occur?

context.payload.pull_requests is empty.

I'm trying to get the files that was changed in order to run some code review and then according to that change the conclusion to 'failure' or 'success' accordingly.

Thanks!

[2020-07-17 16:32] gr2m commented on #155
check suites do not belong to pull requests, but to commits. A commit can belong to one, or many pull requests, or none at all.

The `check_suite` payload has a `check_suite.pull_requests` property. Iterate over that array to check each pull request the check suite was triggered on

[2020-07-19 16:32] hadar-cpp-check commented on #155
the array is empty as stated above, does that mean that the commit associated to that check_suite has no pull_request? (makes not a lot of sense because the trigger was opening a pull_reuqest)
 or is there a way to get the commits then and then get all the pull requests associated to that commit?

[2020-07-19 17:09] gr2m commented on #155
That's what I'd assume

It's possible using GraphQL https://docs.github.com/en/graphql/reference/objects#commit

[2020-07-19 18:47] hiimbex commented on #155
were you using `context.payload.pull_requests` or `context.payload.check_suite.pull_requests` ?

[2020-08-13 22:07] #132 closed

[2020-08-13 22:07] #134 closed

[2020-08-13 22:07] #135 closed

[2020-08-13 22:07] #140 closed

[2020-08-13 22:07] #141 closed

[2020-08-13 22:08] #144 closed

[2020-08-13 22:08] #145 closed

[2020-08-13 22:08] #148 closed

[2020-08-13 22:08] #149 closed

[2020-08-13 22:08] #150 closed

[2020-08-13 22:08] #151 closed

[2020-08-13 22:09] gr2m commented on #153
you mean adding an example that uses a Dockerfile? I'm not sure how that would look like, but would be happy if someone would chime in with a pull request to lay it out, and we can discuss there

[2020-08-13 22:10] gr2m commented on #155
closing due to inactivity, please reopen if the problem is still relevant

[2020-08-13 22:10] #155 closed

[2020-08-13 22:11] gr2m commented on #138
We would still love a pr for this, if anyone is interested in helping out!

[2020-08-13 22:15] gr2m opened #158 "Remove nodemon & standard from template dependencies"
All templates currently include `nodemon` and `standard` as dependencies.

I think these are out of scope for probot, they slow down testing and throw lots of errors during the install process. I think we should remove them and only leave

1. `probot` as the sole production dependency
2. `smee-client`, `jest`, and `nock` as dev dependencies.

Any objections?

[2020-08-13 23:31] gr2m opened #161 "Remove leftovers from Greenkeeper"
- remove greenkeeper.json
- replace badge in README with badge pointing to GitHub Actions

[2020-10-01 15:10] #161 closed

[2020-10-08 11:14] josh-barker opened #218 "Newly generated basic-ts app doesn't compile."
Hi,

Maybe I missed something in the documentation, but I can't seem to get a basic-ts example to compile.
VS Code also shows that it cannot find `context.issue` and `context.github`.

What else do I need to do to get it to work?

Cheers

### Details:

[code]

index.ts
[code]

[2020-10-08 16:38] gr2m commented on #218
Sorry for that, the problem should be resolved now via https://github.com/probot/probot/pull/1374 and [probot v10.9.2](https://github.com/probot/probot/releases/tag/v10.9.2), can you try again please?

[2020-10-08 17:38] gr2m commented on #218
There was another problem, it got fixed in 10.9.3.

I've also bumped the minimal required probot version in https://github.com/probot/create-probot-app/pull/216

[2020-10-08 20:02] josh-barker commented on #218
Hey @gr2m, yep that fixed the issues.

Thanks!

[2020-10-08 20:07] #218 closed

[2020-10-13 05:25] #153 closed

[2020-10-27 14:34] Xenfo opened #241 "Outdated dependencies basic-ts"
[code]
I may be able to fix this myself and make a PR but just wanted to let you know.

[2020-10-27 15:23] gr2m commented on #241
A PR would be much appreciated, thank you @Xenfo 👍🏼

[2020-10-27 16:21] Xenfo commented on #241
Sure

[2020-10-27 16:32] Xenfo commented on #241
#242

[2020-10-27 17:05] #241 closed

[2020-11-28 16:09] hedy19 opened #274 "Ho"
https://github.com/camper342/camper-music.git

[2020-11-28 20:18] #274 closed

[2020-12-10 18:59] Chocrates opened #286 "create-probot-app fails when looking for user email"
I get the following error when running `create-probot-app` with no extra arguments

[code]

Calling it with `--email user@email.com` works as intended.
Not sure if this is an issue with my system or the `create-probot-app` itself, or how I can debug that.

[2020-12-10 19:20] gr2m commented on #286
Hi @Chocrates, thanks for filing this issue!

At first sight, it might be a problem with https://github.com/jonschlinkert/git-user-email, the error originates in this line:

https://github.com/jonschlinkert/git-user-email/blob/30674ffa69e51003d26811d8f6338e0e5cc46339/index.js#L19-L21

Could you check if you can reproduce the problem when only using `git-user-email`?

We don't use the package direc

[2020-12-10 22:10] ThomasKientz commented on #286
Same here, can reproduce the error with `guessEmail` directly.

tested under node 12, 13, 14.

[2020-12-10 22:16] gr2m commented on #286
there was no recent change in `conjecture` or `git-user-email`. Maybe the output of a recent `git` version changed and it can no longer be parsed?

[2020-12-10 22:37] ThomasKientz commented on #286
Issue is with `path` option https://github.com/boneskull/conjecture/blob/master/index.js#L19 it broke "git-user-email"

[2020-12-11 04:54] Chocrates commented on #286
Is this confirmed?  I have it on my list to make time tomorrow to test this.

[2020-12-11 13:04] ThomasKientz commented on #286
I have pinpointed the issue : https://github.com/jonschlinkert/git-user-email/pull/5

[2020-12-19 16:48] lukepighetti commented on #138
What's blocking it is I have no idea what each template does

[2020-12-19 21:28] gr2m commented on #138
- basic-js: Comment on new issues
- basic-ts: Comment on new issues - written in TypeScript
- checks-js: Handle check_suite request and rerequested actions
- deploy-js: Creates a deployment on a pull request event
- git-data-js: Opens a PR every time someone installs your app for the first time

I think we should rename `git-data-js` to `create-pull-request-js`

[2021-01-04 09:23] shaftoe commented on #286
I can confirm this too, atm I can only reproduce it when building the current master head and invoking directly but not when run via `npx`

[2021-01-05 12:59] shaftoe opened #309 ""test" GitHub action should fail when tests print warnings"
See example here: https://github.com/probot/create-probot-app/runs/1631489000?check_suite_focus=true#step:4:171

[code]

This could help ensure that template apps are up to date with the latest APIs. I'm trying to understand if there's such a built in feature in `jest` but I couldn't find yet, another way could be to add some logic to the Bash script.

I'm also wondering if it does make sense to h

[2021-01-05 13:22] shaftoe commented on #309
A [relevant discussion](https://github.com/facebook/jest/issues/6121) which seems to suggest this relatively [simple solution](https://stackoverflow.com/questions/28615293/is-there-a-jest-config-that-will-fail-tests-on-console-warn/50584643#50584643) (or should I say workaround? I guess it's mostly a matter of taste) that makes use of the `setupFiles` Jest feature.

[2021-01-05 15:30] shaftoe opened #311 "Reduce duplication in templates folder"
It looks like there's an awful lot of duplication under `templates/` at the moment:

[code]

This makes it obviously harder to maintain the templates, probably less obvious is how much this increases the friction to add any new template too.

As a first step to reduce duplication, I propose to change the scaffolding logic and keep all the shared files in a `__common__` folder, e.g.:

[code]

In ca

[2021-01-05 20:11] gr2m commented on #309
Yes, let's test in 10, 12, 14, 15, see https://nodejs.org/en/about/releases/. I'm working on automating the nodejs version matrix automatically, it keeps getting out of date ...

Also `actions/setup-node@v1` should now be `actions/setup-node@v2`.

[2021-01-05 20:18] gr2m commented on #311
sounds good 👍🏼 Will definitely make it easier to maintain, and to add new templates

[2021-01-10 13:39] shaftoe opened #315 "Various cleanups proposal"
I'd like to address all the final bits missing to consider this project as stable, for example fix some of the `TODOs` left in the code, so to shift my focus elsewhere, for example docs or the new `app-setup` project you were mentioning elsewhere.

I list a few here:

- https://github.com/probot/create-probot-app/blob/b0f6342d1b5b5852eb16b07c072ec35abd733434/src/create-probot-app.ts#L3

  Sort how

[2021-01-11 20:20] gr2m commented on #315
Ignore it, it's not worth the extra overhead. This is a legacy comment, we can remove it

I don't know what it means, the comment was added by @MaximDevoir. Max, can you recall what you meant there?

Not at all, I agree with your points

I'm not sure if `nodegit` is fully compatible. If you'd like to experiment with it, feel free, but let's do that in a separate PR. I don't mind the current setup,

[2021-01-11 20:41] shaftoe commented on #315
I've nothing against `spawn` but my guess is that at least for `npm` there's no real need for it, see https://github.com/probot/create-probot-app/pull/316

I hope that's also a first step towards readability (i.e. split logic into dedicated functions)

[2021-01-11 20:53] MaximDevoir commented on #315
I believe this is another legacy comment that refers to the repetitiveness of `answers`' properties being assigned to themself OR to the corresponding `program` property. The goal may have been to use a pattern out there that can be more easily readable.

https://github.com/probot/create-probot-app/blob/6775d441df545d1f27439ffd5a5ad51255628b0c/src/create-probot-app.ts#L206-L214

[2021-01-11 20:57] shaftoe commented on #315
@MaximDevoir can you provide an example of such a pattern, possibly in TS? TBH I'm not that confident yet with design patterns 😅 or should we just get rid of the comment and live with it as is?

[2021-01-12 10:23] MaximDevoir commented on #315
@shaftoe The thing that has always been obvious to me would be to merge the objects with `Object.assign`, or to create a separate object that uses the [spread operator](https://mariusschulz.com/blog/object-rest-and-spread-in-typescript) to merge objects.

I think it would look something like this:

[code]

It looks a lot cleaner, but there would need to be a bit of testing to ensure nothing breaks

[2021-01-12 10:30] shaftoe commented on #315
@MaximDevoir thanks for the clarification. As for your question, I don't know anything about the reasoning behind pulling from both `answers` and `program`, I'm basically just going through the code and asking about the TODOs left there.

[2021-01-12 10:36] MaximDevoir commented on #315
@shaftoe Inquirer doesn't support default values if `when` is supplied (see https://github.com/SBoudrias/Inquirer.js/issues/740). We have to pull from `answers`, and then from `program` incase the value was set directly via the CLI.

[2021-01-12 13:07] todo[bot] opened #322 "clean that up into nicer object combining"
https://github.com/probot/create-probot-app/blob/a721c1153204542619233edfc71b09bf21784d47/src/helpers/user-interaction.ts#L158-L163

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in a721c1153204542619233edfc71b09bf21784d47 when #320 was merged. cc @shaftoe.

[2021-01-12 13:07] todo[bot] opened #323 "clean that up into nicer object combining"
https://github.com/probot/create-probot-app/blob/129fa548529b108fc7272b440038d0369aa99847/src/helpers/user-interaction.ts#L158-L163

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 129fa548529b108fc7272b440038d0369aa99847. It&#x27;s been assigned to @shaftoe because they committed the code.

[2021-01-12 13:12] shaftoe commented on #322
I can live with how it is right now and just remove the TODO, @MaximDevoir feel free to take this over otherwise I just remove the TODO comment and close

[2021-01-12 13:14] shaftoe commented on #323
Duplicated: https://github.com/probot/create-probot-app/issues/322

[2021-01-12 13:14] #323 closed

[2021-01-12 13:14] shaftoe commented on #322
Related: https://github.com/probot/create-probot-app/issues/315

[2021-01-12 13:15] shaftoe commented on #311
Addressed by https://github.com/probot/create-probot-app/pull/314

[2021-01-12 13:15] #311 closed

[2021-01-12 13:17] shaftoe commented on #309
Addressed by https://github.com/probot/create-probot-app/pull/310

[2021-01-12 13:17] #309 closed

[2021-01-12 19:05] gr2m opened #327 "Add contributors"
I've installed the [All Contributors App](https://github.com/marketplace/all-contributors)

Albeit late, I'd like to give credit to past contributors. Please feel free to add/nominate folks for other contributions

[2021-01-12 19:06] gr2m commented on #327
@all-contributors please add @hiimbex for code, review

[2021-01-12 19:09] gr2m commented on #327
@all-contributors please add @tcbyrd for code

[2021-01-12 19:11] gr2m commented on #327
@all-contributors please add @JasonEtco for code

[2021-01-17 19:38] shaftoe commented on #322
Addressed by https://github.com/probot/create-probot-app/pull/335

[2021-01-17 19:38] #322 closed

[2021-01-17 19:56] shaftoe commented on #315
I'm still not entirely sure about the soundness of [this logic here](https://github.com/probot/create-probot-app/blob/2df06fda04abd61d68444698b72f837d19b0aa86/src/helpers/filesystem.ts#L28), when I'm done with reviewing it I'll consider this issue closed unless someone has other improvements/cleanups to suggest

[2021-01-19 22:19] MaximDevoir opened #340 "CPA cannot find NPM module when running via NPX"
A bug occurs in Create-Probot-App@4.4.10+ that results in Node being unable to resolve the `npm` module.

Prior to CPA@4.4.10, we were running NPM via `cross-spawn`. Now, we've been running npm via module import.

I won't be able to dive too much into this issue, but I still think this is an NPX issue and not necessarily a CPA issue - although I could be wrong.

Adding `npm` as a `dependency` to `

[2021-01-19 22:37] gr2m commented on #340
it looks like starting with https://github.com/probot/create-probot-app/pull/316 we depend on the `npm` package, but we missed to add it to dependencies:

https://github.com/probot/create-probot-app/pull/316/files#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519R30-R45

[2021-01-19 22:54] #340 closed

[2021-01-23 09:16] shaftoe commented on #158
@gr2m it looks like meanwhile `nodemon` and `standard` are gone. Anything left to be done here?

[2021-01-23 14:06] helaili opened #346 ""url" wasn't supplied error upon first start"
When running `npm start` right after `npx create-probot-app ...` in order to register the app, I'm getting this error:

<img width="635" alt="Screen Shot 2021-01-23 at 14 58 18" src="https://user-images.githubusercontent.com/2787414/105580310-e3494800-5d8b-11eb-9440-2320a22f6d84.png">

Adding a `homepage` entry in `package.json` solves it.

[2021-01-24 03:28] MaximDevoir commented on #346
Thank you for reporting this issue... and you even have the solution :smile:. That makes hotfixing considerably easier.

This is fixed by #347.

[2021-01-24 07:19] #346 closed

[2021-01-24 07:21] shaftoe opened #348 "Add validity checks of `package.json` to tests"
Ref: https://github.com/probot/create-probot-app/issues/346

[2021-01-24 07:40] MaximDevoir commented on #348
The `name`, `homepage`, and `description` properties are read from package.json in [probot/manifest-creation](https://github.com/probot/probot/blob/master/src/manifest-creation.ts#L45-L63). However, only `homepage` is required (see [GitHub Manifest Parameters](https://docs.github.com/en/developers/apps/creating-a-github-app-from-a-manifest#github-app-manifest-parameters)).

[2021-01-24 19:41] gr2m commented on #158
nope that's done, thanks for checking @shaftoe!

[2021-01-24 19:41] #158 closed

[2021-01-25 07:42] shaftoe opened #350 "Tests should not skip Git initialization"
ATM each template test skips `git init` logic, we should ensure that gets tested all right too, e.g.

- create the temp folder under /tmp
- check the commit is correctly created

[2021-01-26 06:51] MaximDevoir commented on #350
Git initialization is skipped when running within another Git repo. This comes from here:

https://github.com/probot/create-probot-app/blob/fb17d98a19739d655625156c2ae4945ec0882422/src/helpers/init-git.ts#L47

I think the theory is when running CPA in a git repo, the user probably intends to add the project to the parent git repo, and not have a git repo within a git repo.

Tests could move to a t

[2021-01-26 20:01] shaftoe commented on #315
I think this can be closed, https://github.com/probot/create-probot-app/pull/339 addressed my last concern about the code base status 🍾

[2021-01-26 20:01] #315 closed

[2021-01-31 16:56] shaftoe commented on #138
I'll have a look at this soon

[2021-01-31 16:58] shaftoe commented on #348
![D697C288-2DFD-4159-BE7E-4D0BCA5E440A](https://user-images.githubusercontent.com/281389/106391495-d1038580-63ed-11eb-91d1-13a1f8e5b1b8.jpeg)

Can anyone here explain me how these labels are supposed to be used? @MaximDevoir ?

[2021-01-31 19:06] MaximDevoir commented on #348
Whoops, I didn't mean to remove the label. Just unassign myself. You can re-add it.

[2021-01-31 19:17] shaftoe commented on #348
Nah, don't worry, I was just trying to understand if I got something wrong, forget about it

[2021-02-01 06:15] #138 closed

[2021-02-04 20:08] shaftoe opened #356 "Current `git init` logic is broken"
See: https://github.com/probot/create-probot-app/pull/355/checks?check_run_id=1833790485#step:7:37

[code]

Basically it assumes Git has been configured which might not always be the case (e.g. in the test environment)

[2021-02-05 01:04] MaximDevoir commented on #356
I failed to find the error in the logs. Could you send a link to the line where it is at?

The tests should still resume, even with an unconfigured Git installation, as is intended.

The initialization should be working as intended. If Git is installed but not configured, then https://github.com/probot/create-probot-app/blob/master/src/helpers/init-git.ts should do as follows:

1. pre-requisite ch

[2021-02-05 03:29] shaftoe commented on #356
Sorry, I guess I pasted the wrong link, this should do: https://github.com/probot/create-probot-app/runs/1833790507?check_suite_focus=true#step:7:36

The full message for the records:

[code]

My understanding is that all you say is true only under the condition that Git has been previously configured in the working environment where CPA is run. I've noticed the above error simply replacing `./tmp

[2021-02-05 07:32] MaximDevoir commented on #356
Seems like an issue. A method for silently moving onto the next step seems like a solution for the edge case.

[2021-02-06 23:24] #356 closed

[2021-02-06 23:33] #350 closed

[2021-02-07 20:40] #348 closed

[2021-02-07 20:50] shaftoe commented on #348
@gr2m this was the last enhancement I had in mind for CPA, I'm ready and willing to jump on the _configure_ project you were mentioning a while ago if you're still of that idea 👍

[2021-02-07 20:52] shaftoe commented on #286
@Chocrates @ThomasKientz I can't reproduce this anymore, is still an issue for you or can we close this?

[2021-02-08 07:20] shaftoe opened #366 "Dependabot doesn't work as expected"
All recent new PR are odd, eg `package.json` doesn't get updated as expected.

We should investigate into it and either fix it or find alternatives.

[2021-02-08 21:13] MaximDevoir commented on #366
The primary `package.json` or one of the template files?

What is currently happening and what is expected?

[2021-02-09 07:52] shaftoe commented on #366
I'm referring to the primary one (I'm not even convinced the templates' ones get actually updated, I can't remember any PR about these).

For example have a look at the latest two:

- https://github.com/probot/create-probot-app/pull/367
- https://github.com/probot/create-probot-app/pull/368

For both there's no trace of updates to `package.json` as I'd expect. For #367 there's also another odd bit

[2021-02-09 16:09] gr2m commented on #366
I guess `17.3.8` is still within the range of `^17.1.1` so the package.json is not updated?

[2021-02-09 16:19] MaximDevoir commented on #366
Dependabot updates package.json differently from package-lock.json. By default, it should widen `package.json` dependencies when there is an out-of-range version change, and updates `package-lock.json` when there are updates within the version range for the package.

![53266487-c821b980-36d8-11e9-8a2e-69abb393bab6](https://user-images.githubusercontent.com/10104630/107391465-92389400-6aad-11eb-918

[2021-02-09 17:30] shaftoe commented on #366
Thanks for the clarification, I opened this mostly as a reminder for myself to better understand dependabot behavior, good to see it's actually working as expected

[2021-02-09 17:30] #366 closed

[2021-02-18 14:16] Chocrates commented on #286
I can confirm @shaftoe, I was able to run `npx create-probot-app bleh` and use all the defaults, and the app created successfully.

[2021-02-18 14:17] ThomasKientz commented on #286
@Chocrates you can close, it has been fixed in https://github.com/jonschlinkert/git-user-email/pull/5

[2021-02-18 14:23] Chocrates commented on #286
Awesome! Closing.  Thanks all for the quick RCA.

[2021-02-18 14:23] #286 closed

[2021-04-11 22:45] jsoref opened #417 "deprecated: request-promise-native, urix, har-validator, resolve-url, request"
I'm probably not going to be submitting a PR for this. I hit it working on something I do intend to PR.

[code]

[2021-11-08 08:40] 0384223 commented on #417
buenos días soy Amalia Malinc y he visto que no tengo ninguna solicitud de extradición ni ningún repositorio donde esta lo que tenia hecho se ha borrado
saludos

[2021-11-08 08:52] 0384223 commented on #417
Hola no se hacerlo por favor háganlo ustesdes Gracias Saludos Amalia

[2021-11-12 08:23] Hanh94 opened #608 "It is difficult to create a new Github app with the current documentation"
Hi, I'm using [create-probot-app]( https://github.com/probot/create-probot-app) created a checks - js App, but I find it hard to through the existing [document](https://octokit.github.io/rest.js/v18/) to use rest API, such as I want to use **context.octokit.checks.update**, However, I found that there was no relevant content in the document, which made me very difficult to proceed to the next step

[2022-04-01 10:22] michalfita opened #679 "TypeError: this.breakLines(...).flat is not a function"
[code]

Please fix of provide instruction for the workaround.

[2022-04-01 10:45] shaftoe commented on #679
Hello @michalfita , can you please provide some context? like:

- what Operating System
- which version of NodeJS / npx you're using
- other information that could help understand why it doesn't work on your system

Thanks!

[2022-04-01 10:49] michalfita opened #835 "TypeError: this.breakLines(...).flat is not a function"
## Bug Report

**Current Behavior**
On attempt to follow the documentation to create the new bot:
[code]

**Expected behavior/code**
As presented in https://probot.github.io/docs/development/#generating-a-new-app

**Environment**

- Probot version(s): 🤷🏼
- Node/npm version: node v10.19.0 / npm 6.14.4
- OS: WSL2 on Windows 11 with ubuntu 20.04

**Possible Solution**

Fix the tool, that's it.

**Add

[2022-04-01 10:50] michalfita commented on #679
@shaftoe These details in: https://github.com/probot/probot/issues/1669
Sorry for reporting in both, but I've noticed stale issues here.

[2022-04-01 10:56] shaftoe commented on #679
Closing because of duplication

[2022-04-01 10:56] shaftoe commented on #679
@michalfita no worries. I'll close this now to avoid duplications, let's use that issue only from now on.

[2022-04-01 10:56] #679 closed

[2022-08-26 22:54] jacksturtevant opened #773 "basic-ts template is outdated and does not compile"
After going through the initial flow and selecting `basic-ts`, and restarting the server, there are multiple errors:
- `npm start` does not work. The script points to `./lib/index.js` which does not exist
- after fixing ^, the app still does not compile with `import { Probot } from "probot";
^^^^^^

SyntaxError: Cannot use import statement outside a module`